Package: packagekit-force-autoremove
Version: 1.0.0-1big2
Depends: packagekit
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:408
Description: Force autoremove in packagekit to improve plasma-discover

